button{
    outline: none;
    cursor: pointer;
}
.container{
    width: 1112px;
    margin: 0 auto; 
}
html{
    height: 100%;
    width: 100%;
}
hr{
    margin: 0;
}
body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Poppins;
}
li{
    list-style: none;
}
a{
    
    outline: none;
}
ul, ol {
    padding: 0;
    margin: 0;
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input{
    outline: none;
}
.header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1)
}
.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}
.details a{
    color: #3D8F85;
    text-align: center;
    font: Bold 15px/19px Montserrat;
    letter-spacing: 0;
}
.main{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.headline{
    display: flex;
    justify-content: center;
    text-align: center;
    font: Bold 17px/36px Open Sans;
    letter-spacing: 0.52px;
    color: #333333;
    margin-bottom: 38px;
    margin-top: 39px;
}
.headline h2{
    width: 920px;
    height: 72px;
}
.main_side{
    display: flex;
}
.action{
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3D8F85;
    border-radius: 7px;
    margin-right: 28px;
}
.name_action{
    text-transform: uppercase;
    font: Bold 24px/41px Open Sans;
    letter-spacing: 0.72px;
}
.head_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87px;
    background: #3D8F85;
    color: white;
}
.time_action{
    font: Bold 21px/29px Open Sans;
    letter-spacing: 0.42px;
    opacity: 0.69;
}
.footer_action{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 388px;
}
.footer_action img{
    margin-bottom: 18px;
}
.type_action{
    font: Bold 18px/28px Open Sans;
    letter-spacing: 0;
    color: #646464;
    margin-bottom: 12px;
}
.type_action_casual{
    margin-bottom: 28px;
    font: Bold 18px/28px Open Sans;
    letter-spacing: 0;
    color: #646464;
    margin-bottom: 12px;
}
.describe_time{
    font-family: Open Sans;
    font-size: 11px;
    letter-spacing: 0;
    color: #646464;
    margin-bottom: 1px;
}
.price{
    font: Bold 32px/39px Montserrat;
    letter-spacing: 0.64px;
    color: #3D8F85;
    margin-bottom: 13px;
}
.old_price{
    text-align: center;
    width: 226px;
    font-size: 13px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #585858;
    margin-bottom: 33px;
}
.start{
    width: 260px;
    height: 60px;
    background: #E24C2C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #E24C2C;
    border-radius: 7px;
    text-align: center;
    padding: 21px 0px 20px;
    text-decoration: none;
    font: Bold 15px/19px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
}
.rate{
    display: flex;
    justify-content: center;
}
.casual{
    display: flex;
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D4D9E6;
    border-radius: 7px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 19px;
}
.casual img{
    margin-top: 94px;
    margin-bottom: 20px;
}
.on_time{
    letter-spacing: 0;
    color: #646464;
    font-weight: 400;
    font-size: 13px;
    font-family: Open Sans;
}
.aside{
    width: 408px;
    height: 460px;
    margin-right: 16px;
}
.best_price{
    position: relative;
}
.head_aside{
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 130.5px);
}
.describe_plan{
    display: block;
    font: Bold 18px/24px Open Sans;
    letter-spacing: 0;
    color: #585858;
    text-align: center;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
}
.content_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 346px;
}
.content_side ul{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-family: Open Sans;
    font-size: 16px;
    letter-spacing: 0;
    color: #333333;
    width: 250px;
}
.content_side ul ion-icon{
    margin-right: 13px;
    color: #3D8F85;
}
.slider_inner{
    display: flex;
}
.rigth_side_slider{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 18px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #333333;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 3px;
}
.describe_person{
    font-size: 15px;
    font-family: Open Sans;
    letter-spacing: 0.3px;
    color: #646464;
    width: 432px;
    height: 156px;
}
.left_side_slider img{
    margin-right: 12px
}
.some{
    background: #3D8F85 0% 0% no-repeat padding-box;
    border: 0.8999999761581421px solid #3D8F85;
    width: 10px;
    height: 7px;
}
.footer{
    margin-top: 40px;
    background: #2A1818;
}
.slider{
    display: flex;
    margin-top: 30px;
}
.slider_inner{
    width: 50%;
}
.slider_wrap{
    display: flex;
}
.footer_border  {
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.06;
    width: 100%;
}
.footer_inner_list a{
    text-decoration: none;
    font-size: 15px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
.footer_inner_list span{
    font-size: 15px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 25px;
}
.bottom_footer span{
    display: flex;
    height: 61px;
    font-size: 13px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.4;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer_inner{
    display: flex;
    align-items: center;
    height: 95px;
}
.footer_inner img{
    margin-top: 33px;
    margin-bottom: 36px; 
}
.private{
    margin-left: 284px;
}
.slider .slick-dots li button:before {
    font-size: 8px;
}
.slider .slick-dots li.slick-active button:before {
    color: #3D8F85;
}
.slider .slick-dots li {
    width: 8px;
}








.form_limited{
    width: 533px;
    margin-right: 56px;
}
.name_action_form{
    display: flex;
    height: 41px;
    justify-content: space-between;
    background: #3D8F85;
    border-radius: 7px;
}
.main_side_action{
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
}
.body_action{
    display: flex;
    border: 1px solid #D4D9E6;
    align-items: center;
}
.body_action img{
    margin-left: 19px;
    margin-right: 21px;
    margin-bottom: 17px;
    margin-top: 13px;
}
.body_action_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type_action_inner{
    display: block;
    font: Bold 16px/25px Open Sans;
    letter-spacing: 0;
    color: #646464;
    text-align: start;
    width: 100%;
    padding-top: 19px;
}
.describe_time_inner{
    text-align: left;
    font-family: Open Sans;
    font-size: 11px;
    letter-spacing: 0;
    color: #333333;
}
.price_action{
    font: Bold 16px/23px Montserrat;
    letter-spacing: 0.32px;
    color: #3D8F85;
    text-align: start;
    width: 100%;
    margin: 3px 0px 4px;
}
.old_price_action{
    text-align: left;
    font-size: 11px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #585858;
    width: 189px;
    margin-bottom: 17px;
    margin-right: 44px;
}
.change{
    width: 118px;
    height: 37px;
    border: 2px solid #3D8F85;
    border-radius: 7px;
    text-align: center;
    font: Bold 13px/16px Montserrat;
    letter-spacing: 0;
    color: #3D8F85;
    text-decoration: none;
    padding-top: 7px;
}
.info{
    margin-bottom: 26px;
}
.social{
    margin-bottom: 19px;
}
.input{
    width: 250px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3D8F85;
    border-radius: 7px;
    padding: 0px 5px;
}
.card_number{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #333333;
}
.card_inner{
    display: flex;
}
.card_inner img{
    display: none;
}
.minimum{
    display: none;
    margin-top: 5px;
    letter-spacing: 0;
    color: #E24C2C;
    font-size: 12px;
    font-family: Open Sans;
}
.minimum_name{
    display: none;
    margin-top: 5px;
    letter-spacing: 0;
    color: #E24C2C;
    font-size: 12px;
    font-family: Open Sans;
}
.describe_problem{
    display: none;
    letter-spacing: 0;
    color: #E24C2C;
    font-size: 12px;
    font-family: Open Sans;
}
.form_inner_first{
    display: flex;
}
.form_ineer_second{
    display: flex;
}
.input_style{
    margin-right: 9px;
}
.card_style{
    margin-top: 12px;
}
.date_inner{
    display: flex;
    align-items: center;
}
body, div, dl, dt,dd, ul,ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, hr, td {
margin:0; padding:0;
}	
.select_main{
    width: 130px; 
    position:relative; 
    border: 1px solid #3D8F85;
    border-radius: 7px;
    background:white url(../image/select_arrow.png) no-repeat right;
    letter-spacing: 0.3px;
    font-family: Open Sans;
    font-size: 15px;
}
.select_main_second{
    width: 99px; 
    position:relative; 
    border: 1px solid #3D8F85;
    border-radius: 7px;
    background:white url(../image/select_arrow.png) no-repeat right;
    letter-spacing: 0.3px;
    font-family: Open Sans;
    font-size: 15px;
}
select {
    width:100%; 
    height:39px; 
    position:reative; 
    border:none; 
    cursor:pointer; 
    opacity:0;
    filter: alpha(opacity=0);
}
.select_main p {
    padding:0 10px;
    /* width:410px;  */
    height:100%; 
    position:absolute; 
    left:0; 
    top:0; 
    color:#0a0a0a; 
    font-size:14px; 
    line-height:34px; 
    overflow:hidden;
}
.select_main_second p {
    padding:0 10px;
    width:410px; 
    height:100%; 
    position:absolute; 
    left:0; 
    top:0; 
    color:#0a0a0a; 
    font-size:14px; 
    line-height:34px; 
    overflow:hidden;
}
.slesh{
    display: block;
    text-align: center;
    font: Bold 18px/28px Open Sans;
    letter-spacing: 0;
    color: #333333;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 18px;
}
.button{
    margin-top: 22px;
    margin-bottom: 15px;
}
.button button{
    width: 127px;
    height: 40px;
    background: #E24C2C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #E24C2C;
    border-radius: 7px;
    text-align: center;
    font: Bold 15px/19px Montserrat;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    border: none;
    margin-right: 18px;
    cursor: pointer;
    opacity: 0.6;
}
.input_style{
    letter-spacing: 0.3px;
    font-family: Open Sans;
    font-size: 15px;
}
.button span{
    letter-spacing: 0;
    color: #B6B6B6;
    font-family: Open Sans;
    font-size: 11px;
}
.terms{
    text-decoration: underline;
    color: #333333;
}
.message{
    font-size: 13px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #585858;
}
.images{
    margin-top: 18px;
    flex-direction: row;
    margin-left: 8px;
}
.select_succes{
    display: none;
}
.select_cancel{
    display: none;
}
.minimum_select{
    display: none;;
    margin-top: 5px;
    letter-spacing: 0;
    color: #E24C2C;
    font-size: 12px;
    font-family: Open Sans;
}


.casual_block{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D4D9E6;
    border-radius: 7px;
    margin-bottom: 35px;
}
.casual_price{
    width: 100%;
    text-align: left;
    font: Bold 18px/26px Montserrat;
    letter-spacing: 0.36px;
    color: #3D8F85;
}
.casual_price_inner{
    font-size: 11px;
    font-family: Open Sans;
    letter-spacing: 0;
    color: #333333;
    font-weight: 600;
}
.slesh:after{
    content: "/";
}